In [1]:
# pip install pydeseq2

In [1]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats

import pandas as pd

In [2]:
counts = pd.read_csv('read_counts_table.csv')
counts

,gname,Kelley_1,Kelley_2,Kelley_3,Kelley_4,Kelley_5,Kelley_6,Kelley_7,Kelley_8,Kelley_9,...,Kelley_23,Kelley_24,Kelley_25,Kelley_26,Kelley_27,Kelley_28,Kelley_29,Kelley_30,Kelley_31,Kelley_32
0,AT1G01010,9,0,23,14,10,9,20,10,9,...,27,98,63,58,23,62,0,55,20,64
1,AT1G01020,80,0,166,127,102,159,157,89,165,...,171,229,187,37,143,127,1,158,118,93
2,AT1G01030,30,0,51,14,2,9,28,27,27,...,16,29,13,3,8,2,0,5,2,7
3,AT1G01040,101,0,373,319,184,311,203,188,313,...,276,501,395,169,412,480,4,405,298,259
4,AT1G01046,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32828,ATMG09730,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32829,ATMG09740,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32830,ATMG09950,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32831,ATMG09960,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32832,ATMG09980,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
counts = counts.set_index('gname')
counts

,Kelley_1,Kelley_2,Kelley_3,Kelley_4,Kelley_5,Kelley_6,Kelley_7,Kelley_8,Kelley_9,Kelley_10,...,Kelley_23,Kelley_24,Kelley_25,Kelley_26,Kelley_27,Kelley_28,Kelley_29,Kelley_30,Kelley_31,Kelley_32
gname,,,,,,,,,,,,,,,,,,,,,
AT1G01010,9,0,23,14,10,9,20,10,9,16,...,27,98,63,58,23,62,0,55,20,64
AT1G01020,80,0,166,127,102,159,157,89,165,187,...,171,229,187,37,143,127,1,158,118,93
AT1G01030,30,0,51,14,2,9,28,27,27,33,...,16,29,13,3,8,2,0,5,2,7
AT1G01040,101,0,373,319,184,311,203,188,313,222,...,276,501,395,169,412,480,4,405,298,259
AT1G01046,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ATMG09730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ATMG09740,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ATMG09950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ATMG09960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ATMG09980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
############################################
# 1. Load and inspect your metadata
############################################

# Example metadata as a dictionary (You can load from CSV instead)

metadata_dict = {
    "Sample": ["Kelley_17", "Kelley_18", "Kelley_19", "Kelley_20",
                  "Kelley_21", "Kelley_22", "Kelley_23", "Kelley_24"],
    "Condition":      ["C", "C", "C", "C",
                  "mut", "mut", "mut", "mut"]
}

metadata = pd.DataFrame(metadata_dict)

print("METADATA:\n", metadata, "\n")

# Define which are the control (col5DO) vs. mutant (gaut5DO)
control_samples = metadata.loc[metadata['Condition'] == 'C', 'Sample'].tolist()
mutant_samples  = metadata.loc[metadata['Condition'] == 'mut', 'Sample'].tolist()

print("Control sample IDs:", control_samples)
print("Mutant sample IDs:", mutant_samples, "\n")

METADATA:
       Sample Condition
0  Kelley_17         C
1  Kelley_18         C
2  Kelley_19         C
3  Kelley_20         C
4  Kelley_21       mut
5  Kelley_22       mut
6  Kelley_23       mut
7  Kelley_24       mut

Control sample IDs: ['Kelley_17', 'Kelley_18', 'Kelley_19', 'Kelley_20']
Mutant sample IDs: ['Kelley_21', 'Kelley_22', 'Kelley_23', 'Kelley_24']

In [6]:
############################################
# 2. Load your read‐count table
############################################

print("Original read_count table shape:", counts.shape)
print("Columns in read_count table:\n", list(counts.columns))

Original read_count table shape: (32833, 32)
Columns in read_count table:
 ['Kelley_1', 'Kelley_2', 'Kelley_3', 'Kelley_4', 'Kelley_5', 'Kelley_6', 'Kelley_7', 'Kelley_8', 'Kelley_9', 'Kelley_10', 'Kelley_11', 'Kelley_12', 'Kelley_13', 'Kelley_14', 'Kelley_15', 'Kelley_16', 'Kelley_17', 'Kelley_18', 'Kelley_19', 'Kelley_20', 'Kelley_21', 'Kelley_22', 'Kelley_23', 'Kelley_24', 'Kelley_25', 'Kelley_26', 'Kelley_27', 'Kelley_28', 'Kelley_29', 'Kelley_30', 'Kelley_31', 'Kelley_32']

In [7]:
############################################
# 3. Filter the read_count table
#    to only columns specified in metadata
############################################

# Keep only the sample columns found in metadata
all_valid_columns = control_samples + mutant_samples
counts = counts[all_valid_columns]

print("\nFiltered read_count table shape:", counts.shape)
print("Filtered table columns:", list(counts.columns))

Filtered read_count table shape: (32833, 8)
Filtered table columns: ['Kelley_17', 'Kelley_18', 'Kelley_19', 'Kelley_20', 'Kelley_21', 'Kelley_22', 'Kelley_23', 'Kelley_24']

In [8]:
# def function_1(x):
   # x = x.split(' ')[0]
   # return x
# metadata.rename(columns=function_1, inplace=True)

metadata.set_index('Sample', inplace=True)

In [9]:
metadata

          Condition
Sample
Kelley_17         C
Kelley_18         C
Kelley_19         C
Kelley_20         C
Kelley_21       mut
Kelley_22       mut
Kelley_23       mut
Kelley_24       mut

In [10]:
counts

,Kelley_17,Kelley_18,Kelley_19,Kelley_20,Kelley_21,Kelley_22,Kelley_23,Kelley_24
gname,,,,,,,,
AT1G01010,32,42,15,29,21,41,27,98
AT1G01020,141,173,156,154,170,163,171,229
AT1G01030,6,5,11,14,1,17,16,29
AT1G01040,246,275,414,254,326,300,276,501
AT1G01046,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
ATMG09730,0,0,0,0,0,0,0,0
ATMG09740,0,0,0,0,0,0,0,0
ATMG09950,0,0,0,0,0,0,0,0
ATMG09960,0,0,0,0,0,0,0,0
ATMG09980,0,0,0,0,0,0,0,0

In [11]:
counts = counts.T
counts

gname,AT1G01010,AT1G01020,AT1G01030,AT1G01040,AT1G01046,AT1G01050,AT1G01060,AT1G01070,AT1G01080,AT1G01090,...,ATMG01380,ATMG01390,ATMG01400,ATMG01410,ATMG09450,ATMG09730,ATMG09740,ATMG09950,ATMG09960,ATMG09980
Kelley_17,32,141,6,246,0,347,7,30,17,989,...,0,0,0,0,0,0,0,0,0,0
Kelley_18,42,173,5,275,0,399,43,40,14,887,...,0,0,0,0,0,0,0,0,0,0
Kelley_19,15,156,11,414,0,425,67,71,29,1379,...,0,0,0,0,0,0,0,0,0,0
Kelley_20,29,154,14,254,0,592,188,51,48,1031,...,0,0,0,0,0,0,0,0,0,0
Kelley_21,21,170,1,326,0,469,160,58,49,1424,...,0,0,0,0,0,0,0,0,0,0
Kelley_22,41,163,17,300,0,405,276,63,18,1045,...,0,0,0,0,0,0,0,0,0,0
Kelley_23,27,171,16,276,0,408,51,18,8,1111,...,0,0,0,0,0,0,0,0,0,0
Kelley_24,98,229,29,501,0,921,283,86,15,1487,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dds = DeseqDataSet(counts=counts,
            metadata=metadata,
            design_factors="Condition",
            reference_level={"Condition": "C"} 
            )


#design_factors=["batch", "condition"] = ~ batch + condtion

/tmp/ipykernel_7414/2615194799.py:1: DeprecationWarning: design_factors is deprecated and will soon be removed.Please consider providing a formulaic formula using the design argumentinstead.
  dds = DeseqDataSet(counts=counts,

In [16]:
dds

AnnData object with n_obs × n_vars = 8 × 32833
    obs: 'Condition'
    obsm: 'design_matrix'

In [17]:
dds.deseq2()

Using None as control genes, passed at DeseqDataSet initialization

Fitting size factors...
... done in 0.01 seconds.

Fitting dispersions...
... done in 1.51 seconds.

Fitting dispersion trend curve...
... done in 0.44 seconds.

Fitting MAP dispersions...
... done in 1.13 seconds.

Fitting LFCs...
... done in 1.42 seconds.

Calculating cook's distance...
... done in 0.01 seconds.

Replacing 0 outlier genes.